@use "./../../../variables" as *;
@use "./../../../mixins" as *;

.links-list {
    &__link:link {
        @include size(2.04vw, 2.04vw);
        border-radius: 50%;
        @include flex(flex, center, row, center);
        background-color: rgba(237, 237, 237, 1);
    }
    &__link:hover, &__link:active {
        background-color: $color-violet-background;
        color: $color-white;
    }
}

.active {
    background-color: $color-violet-background;
    color: $color-white;
}

