button{
    width: 10vw;
    height: 3vh;
    margin-left: 1vw;
    margin-bottom: 2vh;
    font-size: 1.2rem;
    background-color: #6F64F8;
    border-radius: 1vh;
    color: white;
    font-weight: 600;
    cursor: pointer;
}