<div class="all-content">
  
    <app-side-bar></app-side-bar>
    <section class="content">
      <div class="results">
        <span class="results__number">7,618 results found</span> 
      
        <button class="results__like-butn">
          <a routerLink="/products/wishList">
            <img class="results__like-image" src="../../../assets/img/heart.svg"/>
          </a> 
        </button>
      </div>
      
      <app-input></app-input>
      <app-cards-list></app-cards-list>
      <app-pagination></app-pagination>
    </section>
    
  </div>
